.projects {
    width: max-content;
    height: max-content;
}

.card-body {
    border-radius: 25px !important;
}

.projects1 {
    margin: 0;
    width: 100vw;
    background-color: #1b1a2ea9 !important;
}