.frontpage {
    width: 100%;
    height: 100%;
}
#img {
    height: 50%;
}

.sectiontopmargin{
    margin-top: 50px;
}
.text {
    color: white;
    margin-top: 10%;
    max-width: 80%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}

.img-fluid {
    padding-left: 3%;
    padding-top: 3%;
}

.mb-2 {
    margin-left: 40%;
}