/* .frontpage {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
#img {
    height: 50%;
}

.text {
    color: white;
    margin-top: 10%;
    max-width: 80%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}

.img-fluid {
    padding-left: 3%;
    padding-top: 2%;
}

.mb-2 {
    margin-left: 40%;
} */