.frontpage {
    /* margin: 0px; */
    /* width: 100%;
    height: 100%; */

    width: 100vw;
    height: 100vh;
    /* padding: 100%; */
    padding-top: 75px;
    /* margin-bottom: 0px;
    position: relative; */
    /* border-bottom: 90px; */
}
/* .homepage {
    padding-top: 100px;
    padding-bottom: 150px;
} */
#img {
    height: 50%;
}

/* .sectiontopmargin{
    margin-top: 50px;
} */
.scrollDownBox {
    padding-top: 50px;
}
.text {
    color: white;
    margin-top: 10%;
    max-width: 80%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}

.img-fluid {
    padding-left: 3%;
    padding-top: 3%;
}

.mb-2 {
    margin-left: 40%;
}